
@font-face {
  font-family: 'GoudyStM';
  src: url('/assets/fonts/GoudyStM-webfont.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/GoudyStM-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/GoudyStM-webfont.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/GoudyStM-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/GoudyStM-webfont.svg') format('svg'); /* Legacy iOS */
}


.bg {
	background-image: url(/assets/images/graph-paper-background.gif);
	height: 100%;
	width: 100%;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	opacity: .5;
}

h1, h2, h3 { font-family: 'Cabin Sketch', cursive; margin: 0; text-align: center; }

h1 { font-size: 68px; margin-top: 60px; letter-spacing: 1em; margin-right: -1em; }
h2 { font-size: 55px; letter-spacing: 0.5em; margin-right: -0.5em; }
h3 { margin: 50px 0; }

span { width: 200px; text-align: center; display: inline-block; font-size: 20px; }

.middle { margin: 0 40px; }

div img { margin: 0 auto; display: block; max-width: 60px; margin-top: 20px; }
